body {
    font-family: helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
}

.mission {
    background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
    background-repeat: no-repeat;
    background-position: center right;
    margin: auto;
    height: 700px;
    width: 1200px;
}

.header {
    text-align: center;
    line-height: 3px;
    background-color: black;
    position: relative;
    margin: 0;
    padding: 5px;
    top: 45%;
}

.navbar {
height: 10px;
}


.logo {
    height: 50px;
    padding: 4px;
}

ul {
    list-style: none;
    padding: 1em 0;
    text-align: right;
    position: absolute;
    top: -20px;
    width: 100%;
    }

li {
    display: inline;
    padding-top: 1px;
    padding-right: 1.5em;
    text-decoration: underline;
   }

.totm {
    text-align: center;
   }

.gallery {
    width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: space-around;
}

.img {
    height: 200px;
    width: 300px;
}

.location-image {
    background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    height: 500px;
    width: 1200px;
}

.location-text {
    text-align: center;
    padding-top: 90px;
}

.locations {
    width: 300px;
    background-color: black;
    position: relative;
    display: inline-block;
    margin-left: 60px;
    padding: 10px;
    text-align: center;
}

.footer {
    text-align: center;
    height: 200px;
}
 
.copyright {
    text-align: left;
    margin: 20px;
}






